@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Exo 2", sans-serif;

  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background: rgb(0, 0, 0);
  background: linear-gradient(
    153deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(3, 6, 9, 1) 24%,
    rgba(7, 23, 32, 1) 38%,
    rgba(14, 22, 33, 1) 59%,
    rgba(23, 21, 36, 1) 73%,
    rgba(48, 27, 52, 1) 88%
  ); */
}
p {
  color: rgb(165 180 252);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e2e8f0;
}
